* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}

:root {
    --bg-color: rgb(50, 55, 62);
    --primary-color: rgba(255, 252, 252, 0.822);
    --color-title: rgb(253, 199, 3);
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);

}

header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.title {
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    user-select: none;
    color: var(--color-title);

}


.container {
    width: 80%;
    padding: 20px;
    margin-top: 80px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 40px;

}

.link-html{
   position: absolute;
    left: 30px;
    top: 90px;
}


.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 40px;
}

.inputBox {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 30px;

}

.row-genero-selecao{
    margin-left: 3px;
    display: flex;
    justify-items: center;
    
}

.genero-selecao {
    width: 100%;
    height: 72px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
   flex-wrap: wrap;

}

.genero-selecao label {
    margin: 10px;
    text-align: center;
    color: var(--color-title);
    

}


.label {
    margin-bottom: 9px;
    text-align: center;
    padding: 3px;
    color: var(--color-title);
}



.dptmento {
    
    border: none;
    width: 130px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
}



.genero {   
    margin-bottom: 16px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    transition: all 6s;
}

.genero1 {
    padding: 9px;
    padding-left: 0px;
    margin-top: 9px;
   
}

.genero1 select{
   font-weight: 600;
    font-size: 14px;
}
.Estatud {
    width: 80px;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
}

.label2 {
    font-size: 15px;
    color: var(--color-title);   
}



.inputBox label {
    height: 20px;
    position: relative;
    top:20;
    left: -10;
    font-size: 15px;
    color: var(--color-title);
    transition: .9s;
    cursor: text;
}


.inputBox input {
    background-color: var(--primary-color);
    width: 100%;
    height: 35px;
    bottom: -3px;
    padding: 17px;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    color: black;
    font-weight: bold;

}

.inputBox input:hover{
    border-bottom: 5px solid var(--color-title);
}

 .inputBox input:focus,
.inputBox input:valid {
    height: 100%;
}

.inputBox input:focus+label,
.inputBox input:valid+label {
    top: -10px;
    left: 0;

} 

.input-error{
border: 3px soli red;
}

.container .button {
    margin-top: 20px;
    margin-bottom: 27px;
    justify-self: center;
    width: 130px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.container .button:hover {
    box-shadow: 0px 0px 16px var(--color-title);
}

.container .button a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-title);
}




