* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Libre Bodoni', serif;
}



:root {
    --bg-color: #302b2b;
    --color-fondo2: #2a2323;
    --color-titulo: rgb(253, 199, 3);
    --bg-label: #040505;
    --primary-color: rgb(255, 255, 255);
}

body {
    background-color: #0D000D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='290' height='290' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23373002' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EDED06'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");


}

header {
    width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.title {
    font-size: 30px;
    text-align: center;
    user-select: none;
    color: var(--color-titulo);

}


.container {
    width: 70%;
    padding: 20px;
    margin-top: 85px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 40px;

}

.link-html {
    position: absolute;
    left: 30px;
    top: 90px;
}


.row {
    color: var(--color-titulo);
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    gap: 30px;
}

.form_registro {
    width: 90%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inputBox {
    margin-top: 11px;
    color: var(--color-titulo);
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 30px;

}

.genero-selecao2 {
    color: var(--color-titulo);
}

.genero-selecao2 input{
    color: var(--color-titulo);
}

.row-genero-selecao {
    margin-left: 0px;
    display: flex;
    justify-items: center;

}

.genero-selecao {
    width: 100%;
    height: 72px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.genero-selecao label {
    font-size: 15px;
    margin: 10px;
    text-align: center;
    color: var(--color-titulo);


}


.label {
    font-size: 15px;
    margin-bottom: 4px;
    margin-top: 0px;
    text-align: center;
    padding: 3px;
    color: var(--color-titulo);
}



.dptmento {
    font-size: 24px;
    color: var(--color-titulo);
    border: none;
    width: 140px;
    height: 30px;
    background-color: var(--color-fondo2);
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
}


.registro-sect {
    padding: 4px;
    padding-left: 0px;
    margin-top: 4px;

}

.registro-sect select {
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
}

.Estatud {
    width: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.label2 {
    font-size: 15px;
    color: var(--color-title);
}



.inputBox label {
    height: 20px;
    position: relative;
    top: 20;
    left: -10;
    font-size: 15px;
    color: var(--color-title);
    transition: .9s;
    cursor: text;
}


.inputBox input {
    background-color: var(--primary-color);
    width: 102%;
    height: 35px;
    bottom: -3px;
    padding: 17px;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    transition: 0.3s;
    color: black;
    font-weight: bold;

}

.inputBox input:hover {
    border-bottom: 5px solid var(--color-titulo);
}

.inputBox input:focus,
.inputBox input:valid {
    height: 100%;
}

.inputBox input:focus+label,
.inputBox input:valid+label {
    top: -10px;
    left: 0;

}

.input-error {
    border: 3px soli red;
}

.container .button {
    margin-top: 20px;
    margin-bottom: 27px;
    justify-self: center;
    background-color: var(--color-titulo);
    width: 179px;
    height: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.5s;
}

.container .button:hover {
    color: aqua;
    box-shadow: 0px 0px 16px var(--primary-color);
}

.container .button a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-title);
}


/* media query css */
@media (max-width: 830px) {
    .container {
        height: 0vh;
    }

    .row {
        margin-top: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .registro-sect {
        padding: 1px;
        padding-left: 0px;
        margin-top: 2px;
    }

    .dptmento{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}



@media (max-width: 511px) {


    .row {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .container {
        width: 90%;
    }

    .inputBox {
        width: 95%;
    }

    .registro-sect {
        width: 142px;
        margin-bottom: 10px;
    }

    .registro-sect select {
        font-size: 15px;
        width: 226%;
    }

    .genero-selecao {
        text-align: center;
        margin-bottom: 102px;

    }

    .genero-selecao2 {
        margin: 3px;
        padding: 7px;
    }

    .button {
        margin: 0px auto;
    }
}