@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/* para os istilo das fonte font-family: 'Open Sans', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-fondo: #DBDADB;
    --color-titulo: rgb(253, 199, 3);
    --bg-label: #32373E;
    --color-width: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: 70px;
    padding: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-fondo);

}

img {
    width: 70px;
    height: 50px;
    text-align: center;
    margin-bottom: 3px;

}

header h2 {
    margin-right: 34px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--color-titulo);
}

body {
    background-color: var(--bg-label);
    min-height: 100vh;
}

main {
    border-radius: 2px;
    width: 90%;
    min-height: 480px;
    margin: 15px auto;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.row {
    margin: 4px auto;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.row h2 {
    margin-left: 12px;
    color: var(--color-titulo);

}


.btn {
    text-align: center;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 30px;
    margin-left: 16px;
    background-color: var(--bg-label);
    cursor: pointer;
    transition: 0.7s;


}

.btn:hover:hover {
    box-shadow: 0px 0px 10px var(--color-titulo);
}

.btn a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-titulo);
}

.row2 {
   
    width: 96%;
    height: 385px;
    background-color: var(--bg-label);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


/* lista-tabela */
.lista-tabela {
    width: 100%;
    margin-top: 3px;
   

}

tr {
    
    margin: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

th {
   
    font-size: 15px;
    color: var(--color-titulo);
}

td {
    
    margin-left: -1px;
    font-weight: 500;
    color: var(--color-width);
}





/* foot */
footer {
    margin-top: 100px ;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer .h2 {
    font-size: 12px;
    color: var(--color-titulo);
    margin: 11px 14px;
}

footer .h2 a {
    font-size: 12px;
    text-decoration: none;
    color: var(--color-titulo);
}

footer .h2 a:hover {
    color: black;
}

footer img {
    background-color: black;
    border-radius: 100%;
    width: 40px;
    height: 40px;

}

/* media cuery */

/* Medium devices (tablets, 600px and up) */
@media only screen and (max-width: 600px) {
    .row2 {
        height: 350px;
    }

    .lista-tabela {
        height: 310px;
    }

    tr {
        margin: 14px;
    }

    th {
        font-size: 12px;
    }

    td {
        font-size: 11px;
    }
}

/* Small devices (landscape phones, 440px and up) */



@media only screen and (max-width: 440px) {


    .row2 {
        height: 350px;
    }

    th {
        font-size: 11px;
    }

    td {
        font-size: 9px;
    }

}

/* Small devices (landscape phones, 370px and up) */

@media only screen and (max-width: 370px) {


    .row2 {
        height: 260px;
    }

    .nome-list {
        font-size: 15px;
    }

    .lista-tabela {
        height: 400px;
    }

    tr {
        margin: 11px;
    }

    th {
        font-size: 10px;
    }

    td {
        font-size: 9px;
    }

}